.App {
  text-align: center;
}

.header-per{
  color: #34252f;

}
.mod{
  display: flex;
  flex-direction: row;
}

body{
  display: flex;
  justify-content: center;
  background-image: url(./rick-and-morty-31043.png);
}
.personajes{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  border: 1px solid black;
  background-color: #519872;
}
.personajes>div{
  font-size: 20px;
  color:#34252f;
  padding:7px;
  margin: 20px;
  background-color: #A4B494;

}
.header{
  color: #BEC5AD;
}
.paginas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  background-color: #3B5249;
}
.botones{
  margin-left: 40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
